#Ignore all the files ending with ~
*/*~

# Ignore all executables main
*/main

# Ignore the Bitmap file(s) in bitmap folder
bitmap/*.bmp

# Ignore the input and msg files in md5
md5/padded_input
md5/md5

# Ignore the build.sh
**/build.sh

# Ignore the binary file from combinations
/combinations/combs